<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="first.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
    <body>
        <div class="predict">       
             <div><h1>Car price prediction</h1></div>
             <br>            <h3>Introduction</h3>
            <p> car resale valu prediction is the system to predict the amount of resale <br>
        value based on the parameters provided by the user</p>
        <h3>Car price prediction using random forest regressor</h3>
        <p> leading organaizations are collecting tons of data every day to drive buisness
            <br> decisions and solutions from it.
        </p>
        <h3>Requirements for predicting price</h3>
        .Manufacturing Year <br>
        .Showroom price<br>
        .Miles driven<br>
        .Number of historical owners<br>
        .Fuel type<br>
        .Owner type<br>
        .Transmission type<br>
        <h3>Some Regression Algorithms</h5>
            .Linear Regression<br>
            .Decision Tree Regressor<br>
            .Support Vector Regressor<br>
            .KNN Regressor<br>
            .Random Forest Regressor<br>
        <br><div class="submit">
            <a href="{{url_for('red')}}">Predict</a>
            </div>
        </div>
    </body>
</html>